<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Atlanta Zoo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
    input[type=text] {
        width: 10%;
    }
    </style>
</head>
<body>
    <h1> Exhibit History Page </h1>
    <p> Here are all the exhibits you've visited! </p>

    <form name="exhibitHistory" id="exhibitHistory" action="/visitor_view_exhibit_history" method = "post">

        Location: <br>
        <select name="Location">
            <option value=''></option>
            <option value="Birds">Birds</option>
            <option value="Jungle">Jungle</option>
            <option value="Mountainous">Mountainous</option>
            <option value="Pacific">Pacific</option>
            <option value="Sahara">Sahara</option>
        </select></br>

        DateAndTime: <br>
        <input type="date" name = "DateAndTime"><br>

        <input type="submit" value="search">
</form>

<br><br>

<br><br>
<table id="shows" class="table table-striped">
<tr>
    <!-- var Testing = {{sqlQ}}+'1' -->
    <th><a href="/ExhibitHistory/Name/{{sqlQ}}+exhibithistory.html">Name</a></th>
    <th><a href="/ExhibitHistory/Datetime/{{sqlQ}}+exhibithistory.html">Time</a></th>
    <th><a href="/ExhibitHistory/Occurences/{{sqlQ}}+exhibithistory.html">Number of Visits</a></th>
</tr>

{% for exhibit in exhibits %}

<tr>
    <td>{{exhibit.Name}}</td>
    <td>{{exhibit.DateAndTime}}</td>
    <td>{{exhibit.Occurences}}</td>
    <!-- need to add select functionality
     --- select should go to page that will display logexhibitvisits or exhibithistory-->
</tr>
{% endfor %}
</table>

<form action="/user_home/visitor" method="get">
    <button name="Home" type="submit">Home</button>
</form>

</body>
</html>