<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlanta Zoo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
	input[type=text] {
		width: 10%;
	}
	</style>
</head>
<body>

<h1> Staffs </h1>



<!-- <div style="position: absolute; top: 255px; width: 200px; left: 100px; height: 25px">Min: </div>
<div style="position: absolute; top: 255px; width: 200px; left: 250px; height: 25px">Max: </div> -->


<form name="staffSearch" id="staff" action="/admin_view_staff" method = "post">
	Username: <br>
	<input type="text" name = "Username"><br>

	Email: <br>
	<input type="text" name = "Email"><br>


	<input type="submit" value="search">
</form>
<a href="/">Home</a>
<br><br>


<table id="staffs" class="table table-striped">
<tr>
	<th><a href="/AdminStaffUsername/{{sqlQ}}+viewStaff.html">Username</a></th>
	<th><a href="/AdminStaffEmail/{{sqlQ}}+viewStaff.html">Email</a></th>
	<th>Delete?</th>

</tr>

{% for staff in staffs %}
<tr>
	<td>{{staff.Username}}</td>
	<td>{{staff.Email}}</td>

	<td><a href="/DeleteAdminStaff/{{sqlQ+staff.Deletion+staff.Username}}">{{staff.Deletion}}</a></td>
</tr>
{% endfor %}
</table>

<form action="/user_home/admin" method="get">
    <button name="Home" type="submit">Home</button>
</form>

</body>
</html>